// site's colors
$primary-color: #db137f;
$secondary-color: #f6cd54;


// circle borders
$circle-border: 50%;


// font-sizes
$xsmall: 0.75em; // 12px;
$small: 0.875em; // 14px;
$basic: 1em; // 16px;
$medium: 1.125em; // 18px;
$large: 1.250em; // 20px;
$xlarge: 1.5em; // 24px;
$xxlarge: 2.125em; // 34px;
$huge: 2.625em; // 42px;