@import url("https://fonts.googleapis.com/css?family=Roboto");
main,
body {
  width: 100%;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24x; }

.fas.fa-user-alt {
  font-size: 20px; }

.fas.fa-shopping-cart {
  font-size: 28px; }

.fas.fa-tasks {
  font-size: 22px; }

.header {
  background-color: #db137f;
  width: 100%; }

.header__icon_border {
  padding: 6px;
  border: solid 2px #f6cd54;
  border-radius: 50%; }

.header__Container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1180px;
  height: 80px;
  align-items: center; }

.header__logo {
  position: relative;
  top: 11px; }

.header__navButton {
  font-family: Roboto;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin: 0 10px;
  padding-bottom: 23px;
  border-bottom: 4px solid #db137f; }
  .header__navButton:hover {
    border-bottom-color: #f6cd54; }

.header__cartNumber {
  position: absolute;
  right: 1px;
  top: -15px;
  background: white;
  border-radius: 50%;
  font-size: 0.75em;
  width: 13px;
  text-align: center;
  color: black; }

.header__cartDropDown {
  display: none;
  position: absolute;
  left: -84px;
  top: 45px;
  width: 200px;
  height: 350px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: #5d5d5d solid 2px;
  border-radius: 3%;
  z-index: 1; }

p {
  font-family: Roboto;
  font-size: 1.25em;
  text-align: center;
  color: black;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; }

.header__costText {
  font-family: Roboto;
  font-size: 1.125em;
  text-align: center;
  color: #282828; }

.header__costNumber {
  font-family: Roboto;
  font-size: 2.125em;
  text-align: center;
  font-weight: bold; }

.header__checkoutButton {
  border: none;
  font-family: Roboto;
  font-size: 1.125em;
  font-weight: bold;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  background-color: #db137f;
  text-align: center;
  color: white;
  margin-left: 30px;
  padding-bottom: 3px; }

.header__myCartButton {
  border: none;
  position: relative;
  top: 10px;
  left: 40px;
  font-family: Roboto;
  font-size: 1.125em;
  font-weight: bold;
  text-align: center;
  color: #db137f;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  background-color: #f6cd54;
  padding-bottom: 3px; }

.header__navDropDown {
  position: relative;
  margin: 0 10px;
  text-decoration: none;
  color: #f6cd54; }
  .header__navDropDown:hover .header__cartDropDown {
    display: block; }
  .header__navDropDown:hover .header__profileDropDown {
    display: block; }

.header__profileDropDown {
  display: none;
  position: absolute;
  left: -84px;
  top: 45px;
  width: 200px;
  height: 250px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border: #5d5d5d solid 2px;
  border-radius: 3%;
  z-index: 1; }

.header__newUserText {
  font-family: Roboto;
  font-size: 1.25em;
  text-align: center;
  color: #282828;
  font-weight: normal; }

.header__registerButton {
  border: none;
  position: relative;
  color: white;
  left: 35px;
  top: 20px;
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #db137f;
  padding-bottom: 3px; }

.header__signInButton {
  border: none;
  position: relative;
  left: 45px;
  top: 60px;
  color: white;
  font-family: Roboto;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: #db137f;
  padding-bottom: 3px; }

.header__icon_align {
  position: relative;
  top: 3px; }

.header__profileDropDown:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -25px;
  margin-top: -25px; }

.header__cartDropDown:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: white;
  border-top: 0;
  margin-left: -25px;
  margin-top: -25px; }

.carousel_container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  max-width: 1180px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow: hidden; }

.carousel_container__main_shot_caption {
  position: absolute;
  bottom: 0.9em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 2.625em;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgba(51, 51, 51, 0.75);
  z-index: 1; }

.carousel_container__button {
  position: relative;
  right: 240px;
  top: 210px;
  padding: 7px;
  border: solid 1px #979797;
  background-color: #a6a6a6;
  color: #a6a6a6;
  background: none;
  border: none;
  z-index: 2; }

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  max-width: 1180px;
  height: 450px;
  margin-left: auto;
  margin-right: auto; }

.section_of_products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  max-width: 1180px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid #db137f;
  margin-bottom: 50px; }

.section_of_products__type {
  font-family: Roboto;
  font-size: 2.125em;
  color: #5d5d5d; }

.section_of_products__quantity {
  font-family: Roboto;
  font-size: 1.125em;
  color: #9a9a9a;
  margin-bottom: 0; }

.magenta {
  color: #db137f; }

.product {
  position: relative;
  width: 344px;
  height: 304px; }

.product__photo {
  position: absolute;
  left: -2.5em;
  height: 100%;
  width: 100%;
  background-color: #333333; }

.product__favorite_button {
  position: absolute;
  top: 5px;
  left: 310px;
  color: #db137f;
  border: none;
  background-color: transparent;
  outline: none; }

.product__favorite_icon {
  width: 22px;
  height: 20px;
  background-color: #db137f; }

.product__photo_box {
  position: absolute;
  width: 344px;
  height: 140px;
  bottom: 0px;
  background-color: rgba(66, 66, 66, 0.5);
  font-family: Roboto;
  font-size: 1.125em;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff; }

.product__title {
  font-family: Roboto;
  font-size: 1.125em;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: 16px; }

.product__subtitle {
  font-family: Roboto;
  width: 200px;
  font-size: 0.75em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-top: 0;
  text-align: left;
  padding-left: 16px; }

.product__discover {
  width: 111px;
  height: 16px;
  font-family: Roboto;
  font-size: 0.875em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-left: 16px; }

.product__price {
  position: absolute;
  top: 0px;
  left: 260px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 2.125em;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff; }

.product__ex_price {
  position: absolute;
  top: 50px;
  left: 270px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Roboto;
  font-size: 1.125em;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #c7c7c7; }

.product__ex_price_line {
  position: absolute;
  bottom: 50%;
  width: 100%;
  height: 2px;
  background-color: #db137f;
  transform: rotate(-22deg); }

.product__image {
  height: 304px;
  width: 344px; }

.banner {
  height: 284px;
  width: 100%; }

.banner__size {
  width: 100%;
  height: 284px; }

.footer {
  height: 79px;
  border: solid 1px #979797;
  background-color: #d8d8d8;
  margin-top: 76px; }

.footer__copyright {
  font-family: Roboto;
  font-size: 1.125em;
  color: #333333;
  text-align: left;
  padding-left: 146px; }
