.carousel_container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1180px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    overflow: hidden;
}

.carousel_container__main_shot_caption {
    position: absolute;
    bottom: 0.9em;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $huge;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.75);
    z-index: 1;
}

.carousel_container__button {
    position: relative;
    right: 240px;
    top: 210px;
    padding: 7px;
    border: solid 1px #979797;
    background-color: #a6a6a6;
    color: #a6a6a6;
    background: none;
    border: none;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    max-width: 1180px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
}



.section_of_products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    max-width: 1180px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #db137f;
    margin-bottom: 50px;
}

.section_of_products__type {
    font-family: Roboto;
    font-size: $xxlarge;
    color: #5d5d5d;
}

.section_of_products__quantity {
    font-family: Roboto;
    font-size: $medium;
    color: #9a9a9a;
    margin-bottom: 0;
}

.magenta {
    color: #db137f;
}

.product {
    position: relative;
    width: 344px;
    height: 304px;
}

.product__photo {
    position: absolute;
    left: -2.5em;
    height: 100%;
    width: 100%;
    background-color: #333333;
}


.product__favorite_button {
    position: absolute;
    top: 5px;
    left: 310px;
    color: #db137f;
    border: none;
    background-color: transparent;
    outline: none;
}

// .product {                                               nesting gia bem
//     &__favorite_icon {}
// }

.product__favorite_icon {
    width: 22px;
    height: 20px;
    background-color: #db137f;
}

.product__photo_box {
    position: absolute;
    width: 344px;
    height: 140px;
    bottom: 0px;
    background-color: rgba(66, 66, 66, 0.5);
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
}


.product__title {
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: 1.33;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 16px;
}

.product__subtitle {
    font-family: Roboto;
    width: 200px;
    font-size: $xsmall;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top: 0;
    text-align: left;
    padding-left: 16px;
}

.product__discover {
    width: 111px;
    height: 16px;
    font-family: Roboto;
    font-size: $small;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    padding-left: 16px;
}

.product__price {
    position: absolute;
    top: 0px;
    left: 260px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $xxlarge;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.product__ex_price {
    position: absolute;
    top: 50px;
    left: 270px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #c7c7c7;
}

.product__ex_price_line {
    position: absolute;
    bottom: 50%;
    width: 100%;
    height: 2px;
    background-color: #db137f;
    transform: rotate(-22deg);
}

.product__image {
    height: 304px;
    width: 344px;
}