.banner {
    height: 284px;
    width: 100%;
}

.banner__size {
    width: 100%;
    height: 284px;
}

.footer {
    height: 79px;
    border: solid 1px #979797;
    background-color: #d8d8d8;
    margin-top: 76px;
}

.footer__copyright {
    font-family: Roboto;
    font-size: $medium;
    color: #333333;
    text-align: left;
    padding-left: 146px;
}