.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24x;
}

.fas.fa-user-alt {
    font-size: 20px;
}

.fas.fa-shopping-cart {
    font-size: 28px;
}

.fas.fa-tasks {
    font-size: 22px;
}

.header {
    background-color: $primary-color;
    width: 100%;
}

.header__icon_border {
    padding: 6px;
    border: solid 2px $secondary-color;
    border-radius: $circle-border;
}

.header__Container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1180px;
    height: 80px;
    align-items: center;
}

.header__logo {
    position: relative;
    top: 11px;
}

.header__navButton {
    font-family: Roboto;
    font-size: $xlarge;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0 10px;
    padding-bottom: 23px;
    border-bottom: 4px solid $primary-color;


    &:hover {
        border-bottom-color: $secondary-color;
    }
}

.header__cartNumber {
    position: absolute;
    right: 1px;
    top: -15px;
    background: white;
    border-radius: 50%;
    font-size: $xsmall;
    width: 13px;
    text-align: center;
    color: black;
}

.header__cartDropDown {
    display: none;
    position: absolute;
    left: -84px;
    top: 45px;
    width: 200px;
    height: 350px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: #5d5d5d solid 2px;
    border-radius: 3%;
    z-index: 1;
}

p {
    font-family: Roboto;
    font-size: $large;
    text-align: center;
    color: black;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.header__costText {
    font-family: Roboto;
    font-size: $medium;
    text-align: center;
    color: #282828;
}

.header__costNumber {
    font-family: Roboto;
    font-size: $xxlarge;
    text-align: center;
    font-weight: bold;
}

.header__checkoutButton {
    border: none;
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: $primary-color;
    text-align: center;
    color: white;
    margin-left: 30px;
    padding-bottom: 3px;
}

.header__myCartButton {
    border: none;
    position: relative;
    top: 10px;
    left: 40px;
    font-family: Roboto;
    font-size: $medium;
    font-weight: bold;
    text-align: center;
    color: $primary-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    background-color: $secondary-color;
    padding-bottom: 3px;

}


.header__navDropDown {
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: $secondary-color;

    &:hover .header__cartDropDown {
        display: block;
    }

    &:hover .header__profileDropDown {
        display: block;
    }
}

.header__profileDropDown {
    display: none;
    position: absolute;
    left: -84px;
    top: 45px;
    width: 200px;
    height: 250px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    border: #5d5d5d solid 2px;
    border-radius: 3%;
    z-index: 1;
}

.header__newUserText {
    font-family: Roboto;
    font-size: $large;
    text-align: center;
    color: #282828;
    font-weight: normal;
}

.header__registerButton {
    border: none;
    position: relative;
    color: white;
    left: 35px;
    top: 20px;
    font-family: Roboto;
    font-size: $basic;
    font-weight: bold;
    text-align: center;
    background-color: $primary-color;
    padding-bottom: 3px;
}

.header__signInButton {
    border: none;
    position: relative;
    left: 45px;
    top: 60px;
    color: white;
    font-family: Roboto;
    font-size: $basic;
    font-weight: bold;
    text-align: center;
    background-color: $primary-color;
    padding-bottom: 3px;
}

.header__icon_align {
    position: relative;
    top: 3px;
}


.header__profileDropDown:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -25px;
    margin-top: -25px;
}

.header__cartDropDown:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -25px;
    margin-top: -25px;
}