@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./helpers/variables";



main,
body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@import "./layout/header";

@import "./layout/body";

@import "./layout/footer";